@import '../constants/variables';

.app-button {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  margin: 10px 0;
  padding: 10px 20px;

  font-size: 16px;
  font-weight: 700;
  color: $color-white;

  background: $color-black;
  border: 1px solid transparent;
  border-radius: 5px;

  transition: all 0.3s ease-in-out;

  &:hover {
    border: 1px solid $color-brand1;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
