@import '../constants/variables.scss';

.app-container-component {
  display: flex;
  flex-direction: column;

  width: 500px;
  padding: 20px 40px;

  background: $color-white;
  border-radius: $border-radius;
  box-shadow: 10px 10px 3px rgba(0, 0, 0, 0.1);
}
